@import '../../theme/variables.scss';

.button {
  background-color: $cocoflo-light-blue;
  border-radius: 5px;
  box-shadow: $box-shadow;
  color: $cocoflo-font-main-color;
  font-style: italic;
  margin: $site-small-margin;
  padding: 10px 20px;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}
