/////////// COLORS ///////////

$cocoflo-light-blue: rgb(135, 205, 219);
$cocoflo-dark-blue: rgb(98, 198, 212);
$cocoflo-font-main-color: #fff;

/////////// LAYOUTS ///////////

$box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
$site-large-margin: 50px;
$site-small-margin: 20px;

/////////// DEVICES ///////////

$desktop: 1280px;
$tablet: 767px;
